<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jr.dao.RuleBooksMapper">
    <insert id="addRuleBooks" parameterType="RuleBooks">
        insert into netbook.rulebooks (rName,rOther)
        values (#{rName},#{rOther});
    </insert>

    <delete id="deleteRuleBooksById" parameterType="Integer">
       delete from netbook.rulebooks where rID=#{rID}
    </delete>


    <update id="updateRuleBooks" parameterType="RuleBooks">
        update netbook.rulebooks
        set rName=#{rName},rOther=#{rOther}
        where rID=#{rID};
    </update>

    <select id="queryRuleBooksById" resultType="RuleBooks">
        select * from netbook.rulebooks
        where rID=#{rID};
    </select>

    <select id="queryAllRuleBooks" resultType="RuleBooks">
        select * from netbook.rulebooks
    </select>

    <select id="queryRuleBooksByName" resultType="RuleBooks">
        select * from  netbook.rulebooks where rName like concat('%',#{rName},'%')
    </select>
</mapper>